<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>Opentir UI Web Application</display-name>
    <context-param>
        <description>Opentir UI Web Application</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>
    <servlet>
        <servlet-name>Opentir Application Servlet</servlet-name>
        <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
        <init-param>
            <description>Opentir application class to start</description>
            <param-name>application</param-name>
            <param-value>org.opentir.ui.OpentirApplication</param-value>
        </init-param>
<!-- Uncomment next init-param if widgetset is needed -->
<!-- 
        <init-param>
            <description>Application widgetset</description>
            <param-name>widgetset</param-name>
            <param-value>org.openssoc.codifier.gwt.AppWidgetSet</param-value>
        </init-param>
-->
    </servlet>
    <servlet-mapping>
        <servlet-name>Opentir Application Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>